:root {
  --white: white;
  --light-gray: #f0f0f0;
  --dark-gray: #6c6c6c;
  --black: #141313;
  --yellow: #f99c14;
}

.container {
  /* width: 500px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#display {
  font-size: 24px;
  text-align: right;
}

#calculator {
  display: grid;
  grid-template-areas:
    "display display display display"
    "clear negative percentage divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero decimal equals";
  grid-template-columns: 100px 100px 100px 100px;
  gap: 20px;
  padding: 50px;
  padding-top: 10px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #020202;
}

.light-gray {
  background-color: #2d2d2d;
  color: #64fd7b;
}

.dark-gray {
  background-color: #161616;
  color: #eaeaea;
}

.green {
  background-color: #2d2d2d;
  color: #64fd7b;
  font-weight: 500;
  font-size: 36px;
}

button {
  font-size: 30px;
  height: 100px;
  width: 100%;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.1s ease-in-out;
}

button:active {
  transform: scale(0.95);
}

#answer {
  height: 48px;
  font-size: 48px;
}

#expression {
  font-size: 30px;
  height: 30px;
  color: var(--dark-gray);
  margin-top: 10px;
}

#display {
  grid-area: display;
}

#divide {
  grid-area: divide;
}

#clear {
  grid-area: clear;
  color: #fe6a64;
}

#negative {
  grid-area: negative;
}

#percentage {
  grid-area: percentage;
}

#divide {
  grid-area: divide;
}

#multiply {
  grid-area: multiply;
}

#subtract {
  grid-area: subtract;
}

#add {
  grid-area: add;
}

#nine {
  grid-area: nine;
}

#eight {
  grid-area: eight;
}

#seven {
  grid-area: seven;
}

#six {
  grid-area: six;
}

#five {
  grid-area: five;
}

#four {
  grid-area: four;
}

#three {
  grid-area: three;
}

#two {
  grid-area: two;
}

#one {
  grid-area: one;
}

#zero {
  grid-area: zero;
}

#decimal {
  grid-area: decimal;
}

#equals {
  grid-area: equals;
  color: white;
  background-color: #338505;
}
